body{
    background-color: #292929;
}


.carousel-inner{
    width: 660px;
    height: 350px;
    border-radius: 16px;
    margin:  100px auto;
}
.offcanvas {
    opacity: 50%;
    background:#292929 ;
    color: aliceblue;
   
}
.offcanvas-title{
    margin: auto;
}

